name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read   # Fix for CKV2_GHA_1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Debug: list repo structure
      - name: List repo files
        run: ls -R

      - name: Find Dockerfile
        id: dockerfile
        run: |
          # Try to locate a Dockerfile in repo
          FILE=$(find . -type f -iname "Dockerfile*" | head -n 1)
          if [ -z "$FILE" ]; then
            echo "âŒ No Dockerfile found!" && exit 1
          fi
          echo "Found Dockerfile at: $FILE"
          echo "file=$FILE" >> $GITHUB_OUTPUT

      
      - name: Run Checkov Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
          framework: all
          quiet: true
          soft_fail: true
          
      - name: Build Nginx Docker image
        run: |
          docker build -t my-nginx -f ${{ steps.dockerfile.outputs.file }} .

      - name: Run Nginx container
        run: |
          docker run -d -p 8080:80 --name nginx_test my-nginx
          sleep 5
          curl -f http://localhost:8080 || (docker logs nginx_test && exit 1)

      - name: Cleanup
        run: |
          docker stop nginx_test
          docker rm nginx_test
